<!DOCTYPE html>
<html lang="en">

{% include 'snippets/include.html' %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">


      {% include 'snippets/header.html' %}

    
    
    <div class="site-section">
      <div class="container">
        <div class="heading-20219 mb-5">
          <h2 class="title"><span class="icon-person mr-2 mt-4"></span>My Account</span></h2>
          <hr>
        </div>

        <div class="row">

          <div class="col-md-7">
            <div class="panel">
              <div class="bg-light rounded">
                <div class="event-29191 mb-2">
                  <div class="px-3 d-flex">
    
                    <div class="mb-3">
                      <div class="mb-3 mt-4">
                        <h5 class=" mr-3"> <span class="icon-gift mr-2"></span>My Giving</h5>
                        <br>
                        <h5 class="text-cursive"> Recent Donations </h5>
                        
                      </div>
                      <h5 class="text-cursive" style="color:red">No donations found </h5>
                      <a href="#">Giving History</a>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>

            <div class="panel">
              <div class="bg-light rounded mt-2">
                <div class="event-29191 mb-2">
                  <div class="px-3 d-flex">
    
                    <div class="mb-3">
                      <div class="mb-3 mt-4">
                        <h5 class=" mr-3"> <span class="icon-dollar mr-2"></span>Payment Information</h5>
                        <br>
                        
                      </div>
                      <h5 class="text-cursive" style="color:red">No payment gateway found.</h5>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>

            <div class="panel">
              <div class="bg-light rounded mt-2">
                <div class="event-29191 mb-2">
                  <div class="px-3 d-flex">
    
                    <div>
                      <div class="mb-3 mt-4">
                        <h5 class=" mr-3"> <span class="icon-file mr-2"></span>Statement Preferences </h5>
                        <br>
                        <P>N/A</P>
                      </div>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>

          </div>
          

          <div class="col-md-5">
            <div class="panel">
              <div class=" bg-light rounded">
                <div class="event-29191 mb-2">
                  <div class="px-3 d-flex">
    
                    <div>
                      <div class="mb-3 mt-4">
                        <h5 class=" mr-3"> <span class="icon-person mr-2"></span>My Profile</h5>
                        <p> James Smith </p>
                      </div>
                      <p>2200 Monroe St, San Francisco <br>
                        California, 95050, United States</p>
                      <p>415-216-**** </p>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>

            <div class="panel">
              <div class="bg-light rounded mt-2 mb-2">
                <div class="event-29191">
                  <div class="px-3 d-flex">
    
                    <div>
                      <div class="mt-4 mb-4">
                        <h5 class="mr-3"> <span class="icon-lock mr-2"></span>Change Password</h5>
                      </div>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>

            <div class="panel">
              <div class="bg-light rounded mt-2">
                <div class="event-29191 mb-2">
                  <div class="px-3 d-flex">
    
                    <div>
                      <div class="mb-3 mt-4">
                        <h5 class="mr-3"> <span class="icon-briefcase mr-2"></span>My Email</h5>
                          <p> Email Address:  </p>
                          <p>johndoe@gmail.com </p> 
                      </div>
    
                      <p>Username: </p>
                      <p>johndoe </p>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    


    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Homeless, Hungry, and Hurtings Children</h2></div>
              <div class="ml-auto"><a href="#" class="btn btn-primary">Donate Now</a></div>
            </div>
        
      </div>
    </div>
    
    {% include 'snippets/footer.html' %}

  </body>

</html>
